# vi:syntax=json
{
  "extends": "airbnb-base",
  "env": {
    "mocha": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "script",
    "ecmaFeatures": {
      "modules": false
    }
  },
  "rules": {
    "strict": [2, "global"],
    "no-param-reassign": [2, { "props": false }]
  }
}
